### vars: username, password, destination
### read_until('(login:|user:|Username:)',3)
$username
### read_until('(Password:|password:)',3)
$password
### read_until('.*>',3)
ping ipv6 $destination
### read_until('*.received',10)
quit
quit
### exit