<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ iTransformer is an open source tool able to discover and transform
  ~  IP network infrastructures.
  ~  Copyright (C) 2012  http://itransformers.net
  ~
  ~  This program is free software: you can redistribute it and/or modify
  ~  it under the terms of the GNU General Public License as published by
  ~  the Free Software Foundation, either version 3 of the License, or
  ~  any later version.
  ~
  ~  This program is distributed in the hope that it will be useful,
  ~  but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~  GNU General Public License for more details.
  ~
  ~  You should have received a copy of the GNU General Public License
  ~  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:neo4j="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


        <!-- This additional config lets us use the Neo4j admin console -->
    <!-- http://www.cakesolutions.net/teamblogs/2012/05/23/enabling-neo4j-web-admin-tool-on-the-embedded-server-using-spring-data/ -->
        <bean id="graphDatabaseService" class="org.neo4j.kernel.EmbeddedGraphDatabase">
            <constructor-arg value="target/neo4j-db"/>
        </bean>
        <neo4j:config graphDatabaseService="graphDatabaseService"/>
        <bean id="config" class="net.itransformers.ws.neo4j.Neo4jServerConfigurator">
            <constructor-arg ref="graphDatabaseService"/>
            <constructor-arg>
                <map>
                    <entry key="enable_remote_shell" value="true"/>
                </map>
            </constructor-arg>
        </bean>
        <bean id="serverWrapper" class="org.neo4j.server.WrappingNeoServerBootstrapper" init-method="start"
              destroy-method="stop">
            <constructor-arg ref="graphDatabaseService"/>
            <constructor-arg ref="config"/>
        </bean>
        <bean id="treeImporter" class="net.itransformers.ws.upload.TreeImporter">
            <property name="graphDatabaseAPI" ref="graphDatabaseService"/>
        </bean>
</beans>