login:
### read_until('.*', 0)
password:
### read_until('.*', 0)
>
### read_until('.*', 0)
>
### read_until('.*', 0)
>
### read_until('.*', 0)
>
### read_until('.*', 0)
>
### read_until('exit', 0)
>
### exit
