### vars: username, password, enable-password, prefix, Interface
### read_until('(login:|user:|Username:)',3)
$username
### read_until('(Password:|password:)',3)
$password
### read_until('.*>',3)
enable
### read_until('Password:',3)
$enable-password
### start read_until('.*#',3)
configure terminal
### stop read_until

### start read_until('.*#',3)
interface $Interface
no ipv6 address $prefix
no ipv6 enable
no ipv6 address
end
### stop read_until
exit
### exit
