<graphml>
    <key id="hostname" for="node" attr.name="hostname" attr.type="string"/>
    <key id="deviceModel" for="node" attr.name="deviceModel" attr.type="string"/>
    <key id="deviceType" for="node" attr.name="deviceType" attr.type="string"/>
    <key id="nodeInfo" for="node" attr.name="nodeInfo" attr.type="string"/>
    <key id="discoveredIPv4Address" for="node" attr.name="discoveredIPv4Address" attr.type="string"/>
    <key id="geoCoordinates" for="node" attr.name="geoCoordinates" attr.type="string"/>
    <key id="site" for="node" attr.name="site" attr.type="string"/>
    <key id="diff" for="node" attr.name="diff" attr.type="string"/>
    <key id="diffs" for="node" attr.name="diffs" attr.type="string"/>
    <key id="ipv6Forwarding" for="node" attr.name="ipv6Forwarding" attr.type="string"/>
    <key id="ipv4Forwarding" for="node" attr.name="ipv4Forwarding" attr.type="string"/>
    <key id="subnetPrefix" for="node" attr.name="subnetPrefix" attr.type="string"/>
    <key id="subnetRangeType" for="node" attr.name="subnetRangeType" attr.type="string"/>
    <key id="ipProtocolType" for="node" attr.name="ipProtocolType" attr.type="string"/>
    <key id="totalInterfaceCount" for="node" attr.name="totalInterfaceCount" attr.type="string"/>
    <key id="name" for="edge" attr.name="name" attr.type="string"/>
    <key id="Discovery Method" for="edge" attr.name="Discovery Method" attr.type="string"/>
    <key id="dataLink" for="edge" attr.name="dataLink" attr.type="string"/>
    <key id="ipLink" for="edge" attr.name="ipLink" attr.type="string"/>
    <key id="MPLS" for="edge" attr.name="MPLS" attr.type="string"/>
    <key id="ipv6Forwarding" for="edge" attr.name="ipv6Forwarding" attr.type="string"/>
    <key id="ipv4Forwarding" for="edge" attr.name="ipv4Forwarding" attr.type="string"/>
    <key id="bgpLocalAS" for="node" attr.name="bgpLocalAS" attr.type="string"/>
    <key id="bgpAutonomousSystemA" for="edge" attr.name="bgpAutonomousSystemA" attr.type="string"/>
    <key id="bgpAutonomousSystemB" for="edge" attr.name="bgpAutonomousSystemB" attr.type="string"/>
    <key id="Interface" for="edge" attr.name="Interface" attr.type="string"/>
    <key id="edgeTooltip" for="edge" attr.name="edgeTooltip" attr.type="string"/>
    <key id="diff" for="edge" attr.name="diff" attr.type="string"/>
    <key id="diffs" for="edge" attr.name="diffs" attr.type="string"/>
    <graph edgedefault="$graphDirection">
    #foreach ($node in $nodes)
    <node id="${node.id}" label="${node.label}">
    #foreach ($nodeData in $node.graphmlNodeDataList)
        <data key="${nodeData.key}">${nodeData.value}</data>
    #end
    </node>
    #end
</graph>
</graphml>